In [26]:
import pandas as pd
test = pd.read_csv('../data/raw/test.csv',sep=';')
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,"R$ 1.692.770.524.984,00"
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,"R$ 187.758.393.988.768,00"
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,"R$ 183.583.683.569.555,00"
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,"R$ 17.931.747.751.083,00"
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,"R$ 150.730.079.976.501,00"

In [28]:
mix_columns = ['OverallQual', 'OverallCond', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'Fireplaces', 'FireplaceQu', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'SalePrice']

test[mix_columns].head()

,OverallQual,OverallCond,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,...,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,SalePrice
0,5,6,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,...,Y,140,0,0,0,120,0,NaN,MnPrv,"R$ 1.692.770.524.984,00"
1,6,6,Hip,CompShg,Wd Sdng,Wd Sdng,BrkFace,108.0,TA,TA,...,Y,393,36,0,0,0,0,NaN,NaN,"R$ 187.758.393.988.768,00"
2,5,5,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,...,Y,212,34,0,0,0,0,NaN,MnPrv,"R$ 183.583.683.569.555,00"
3,6,6,Gable,CompShg,VinylSd,VinylSd,BrkFace,20.0,TA,TA,...,Y,360,36,0,0,0,0,NaN,NaN,"R$ 17.931.747.751.083,00"
4,8,5,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,...,Y,0,82,0,0,144,0,NaN,NaN,"R$ 150.730.079.976.501,00"